[Desktop Entry]
Name=KRunner Crates.io
Comment=A plugin for krunner that allows you search crates.io
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=cratesio
X-KDE-PluginInfo-Author=Hei Piao
X-KDE-PluginInfo-Email=heipiao233@outlook.com
X-KDE-PluginInfo-Name=krunner-cratesio
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=net.heipiao.krunner-cratesio
X-Plasma-DBusRunner-Path=/CrateRunner